@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?mz4r5o");
  src: url("../fonts/icomoon.eot?mz4r5o#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?mz4r5o") format("truetype"),
    url("../fonts/icomoon.woff?mz4r5o") format("woff"),
    url("../fonts/icomoon.svg?mz4r5o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-checked:before {
  content: "\ea52";
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/open-sans-v17-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/open-sans-v17-latin_cyrillic-700.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v16-latin-regular.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v16-latin-700.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $base-color;
  background-color: $base-bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
