.header {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: $tablet-width) {
  .header {
    flex-direction: column;
    padding: 0;
  }
}
